<%- include('partials/header') -%>

       <section class="success-section">

              <div class="row">
                     <div class="col">
                            <img class="img-fluid" src="/images/MTN-Logo.jpg" alt="logo">
                     </div>
              </div>
              <div class="row">
                     <div class="col text-center">
                            <h2>Thanks for using our web for Registration</h2>
                     </div>
              </div>

       </section>
       <%- include('partials/footer') -%>